<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>

  <div *ngFor="let provider of providers | async" class="providers">
    <div *ngIf="provider.id === product.providerId">
      <h5 [title]="provider.name" >
        Provider: <a [routerLink]="['/providers', provider.id]">{{ provider.name }}</a>

      </h5>

    </div>
  </div>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  <button type="button" (click)="addToCart(product)">Buy</button>
</div>
